apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitea
  labels:
    app: gitea
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitea
  template:
    metadata:
      labels:
        app: gitea
    spec:
      containers:
        - name: gitea
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
          env:
            # Gitea Basis-Konfiguration
            - name: GITEA__security__INSTALL_LOCK
              value: "{{ ternary "true" "false" .Values.gitea.disableInstallPage }}"
            - name: GITEA__security__SECRET_KEY
              value: "{{ .Values.gitea.secretKey }}"
            - name: GITEA__server__ROOT_URL
              value: "{{ if .Values.ingress.enabled }}https://{{ .Values.ingress.host }}/{{ else }}http://gitea:3000/{{ end }}"

          volumeMounts:
            - name: data
              mountPath: /data

          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 20
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 60
            periodSeconds: 20

      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: gitea-data
