apiVersion: v1
kind: Service
metadata:
  name: gitea
  labels:
    app: gitea
spec:
  type: {{ .Values.service.type }}
  selector:
    app: gitea
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: 3000
